- content_for(:title) { 'Teams' }

%h1.tab-header Teams

.col-sm-3.col-md-3.searchbox.pull-right
  = render 'search'

%hr

.panel.panel-default
  - if @teams.empty?
    .panel-body No teams found...

  %ul.list-group
    - if user_signed_in?
      = link_to new_team_path, class: 'list-group-item list-group-item-info' do
        %span.glyphicon.glyphicon-plus
        Start a new Team

    - present_collection(@teams).each do |teams|
      %li.list-group-item= teams.link

= bootstrap_paginate @teams
