- if match.rounds.any? { |r| r.logs_id }
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-pills
        %li.disabled
          %a
            Match Stats
        - match.rounds.each do |round|
          - klass = round == @round ? 'active' : ''

          %li{ class: klass }
            %a{ data: { toggle: 'tab' }, href: "##{round.to_s.parameterize}" }
              = round.map.name

    .panel-body.tab-content
      - match.rounds.each do |round|
        - klass = round == @round ? ' in active' : ''

        %div{ id: round.to_s.parameterize, class: 'tab-pane fade' + klass }
          - if round.logs_id
            = round.map.name
          - else
            Logs were not provided yet
