- if match.rounds.any? { |r| r.logs_id }
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-pills
        %li.disabled
          %a Match Logs

        - match.rounds.each do |round|
          - klass = round == @round ? 'active' : ''

          %li{ class: klass }
            %a{ data: { toggle: 'tab' }, href: "#logs-#{round.id}" }
              = round.map.name

    .panel-body.tab-content
      - match.rounds.each do |round|
        - klass = round == @round ? ' in active' : ''

        %div{ id: "logs-#{round.id}", class: 'tab-pane fade' + klass }
          - if round.logs_id
            = render "leagues/matches/logs_table", logs_id: round.logs_id
          - else
            Logs were not provided yet
