.panel.panel-default
  .panel-heading External Links
  %ul.list-group
    %li.list-group-item
      = link_to 'https://discord.gg/ZCv9BTR', target: '_blank', rel: 'noopener' do
        = image_tag 'discord-logo.png'
        Join us on Discord
    %li.list-group-item
      = link_to 'http://twitter.com/NaClgg_', target: '_blank', rel: 'noopener' do
        = image_tag 'twitter-logo.png'
        Follow us on Twitter
